# 忽略所有环境配置文件
.env
.env.*

# 如果你需要一个示例文件被追踪，可以使用下面的规则 (现在不需要)
# !.env.example

# 忽略 Vercel 和 Node.js 的本地文件
.vercel
node_modules/

# 忽略 macOS 和 Windows 的系统文件
.DS_Store
Thumbs.db

# 您原来就有的其他忽略规则
api/config/config.php
/vendor/